.navbar-dark{    background-color: #477186; padding: 10px}
.sidebar-dark{background-color: #345a6d}
.nav-sidebar .nav-link i {margin-right: 0.25em; font-size: 1.1rem;}
.sidebar-dark .nav-sidebar>.nav-item-submenu>.nav-group-sub, .sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-submenu>.nav-group-sub{background-color: rgba(38, 166, 154, 0.7);} 
.nav-sidebar .nav-item-header{padding: 0 1.25rem; margin-top: 1rem}
.nav-sidebar .nav-link{padding: .60rem 1.25rem}
.nav-item-submenu>.nav-link:after{top: 0.60rem}
.nav-group-sub .nav-link{padding: .625rem 1.25rem .625rem 3.5rem;}

.panel-default {background-color: #fff; -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05); box-shadow: 0 1px 1px rgba(0,0,0,.05);width:100%; margin-bottom: 30px; border: 1px solid #ccc; border-radius: 5px}
.panel-heading{padding: 1rem}
.table-bordered td, .table-bordered th, .table-bordered{border:0;}
.table-bordered tr{border-bottom: 1px solid #e8e8e8}

.formsearch{float: right; position: relative;}
.formsearch a{position: absolute;right: 0; top: 0;background-color: transparent;color: #ccc;}

#frm_main button{margin: 15px 0;}

.boxheader{ text-align: left !important; }
.boxheader:nth-child(1) {text-align: center !important;}

.boxheader span{ float: left; }
.boxheader:nth-child(1) span {float: none;}
.boxheader a{ float: left; color: #999}
.asc{position: relative;top: -2px; left: 2px;height: 11px;}
.desc{position: relative;height: 19px; right: -9px; bottom: -3px;}
.form-inline{width: 100%}
.form_table td{vertical-align: inherit !important;}
.form-inline label{justify-content: flex-start !important;}
.form_table{margin: 20px 0 0 0 !important}
.search_user .ui-autocomplete-input{width: 60%; padding: 7px; border: 1px solid #ccc; float: left;}
.search_user .btn-lg{    padding: .450rem 1rem !important; margin: 0 0 0 10px !important}

.nav-tabs-custom{width: 100%}
.nav-tabs-custom .nav-tabs{background: #f7f6f6; margin: 0}
.nav-tabs-custom .nav-tabs li{padding: 15px; border-radius: 5px 5px 0 0}
.nav-tabs-custom .nav-tabs li.active{background: #fff;border: 1px solid #ccc; position: relative; bottom: -1px; border-bottom: 0;}
.tab-content{padding: 30px; background: #fff; border:1px solid #ccc;; border-top: 0}

#tbl_core_admin, #tbl_core_db_servers, #tbl_core_auth_history, #tbl_core_cms_menus,#tbl_support_tickets{    border: 1px solid #ccc !important;}
#tbl_core_notifications, #tbl_core_crontab{border-top: 1px solid #ccc !important;}
.callout {margin-bottom: 15px; padding: 10px; border-radius: 5px}
.callout p{margin: 0 !important}
.callout.success{background: #a6ffa5}
.callout.danger{background: #f99;}
.callout.warning{background: #ff7474}
.callout.info{background: #a5d1ff} 

.boxlist{list-style: none;padding-right: 40px}
.boxlist li{border-bottom: 1px solid #cccccc8c;margin-bottom: 10px; padding-bottom: 10px}
.boxlist li:last-child{border:0;}

.form-group{margin-bottom: 20px !important}
.form-group input{width: 100% !important; display: block !important;}
.radioform input{display: inline !important;    width: 15px !important;}
.radioform span{margin-right: 10px}

#tbl_core_notifications{font-size: 12px !important}
.filled{list-style: none; padding: 0; margin: 0; color:#f00; position: absolute;}

.form-inline select{padding: 10px}


/*home*/

.boxgraf{width: 100%; margin-bottom: 30px}
.boxgraf .panel-body{padding: 20px}
.text-muted {color: #fff !important}
.paneltickets{background-color: #fff; width: 98.5%; border:1px solid #ccc; border-radius: 5px; margin-bottom: 30px}
.paneltickets .active{background-color: #f5f5f5}
.paneltickets .active td{width: 100%; border:1px solid #ccc !important;}