<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="_test.php">./tests/core</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/core</directory>
            <directory suffix=".php">./src/app</directory>
            <file>./src/app.php</file>
        </whitelist>
    </filter>
    <php>
        <server name="apex_admin_username" value="admin"/>
        <server name="apex_admin_password" value="admin"/>
    <server name="apex_test_username" value="demo"/>
    <server name="apex_test_password" value="demo"/>
    </php>
</phpunit>

