<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="_test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/core</directory>
            <directory suffix=".php">./src/app</directory>
            <file>./src/app.php</file>
        </include>
    </coverage>
    <php>
        <server name="apex_admin_username" value="admin"/>
        <server name="apex_admin_password" value="admin"/>
    <server name="apex_test_username" value="demo"/>
    <server name="apex_test_password" value="demo"/>
    </php>
</phpunit>

